{% extends 'base.html.twig' %}
{% block title "Toutes les recettes" %}

{% block body %}
    <p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>

        <ul>
            {% for recipe in recipes %}
            <li>
                <a href="{{ url('recipe.show', {id: recipe.id, slug: recipe.slug}) }}">{{ recipe.title }}</a>
            </li>
            {% endfor %}
        </ul>

{% endblock %}